.page-title-box {
    background: #F9001F;
    color: white;
}

.page-title-box h4 {
    color: white !Important
}

.page-title-box a {
    color: white !Important
}

.breadcrumb > .active {
    color: white;
}

.side-menu.left {
    background: #084073;
}

.naranja {
    color: #F9001F;
}

.primary {
    color: #084073;
}

.bgazul {
    background-color: #084073;
}



.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-sample { 
  color: #FFFFFF; 
  background-color: #BDBDBD; 
  border-color: #BDBDBD; 
} 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #FFFFFF; 
  background-color: #E0E0E0; 
  border-color: #BDBDBD; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #BDBDBD; 
  border-color: #BDBDBD; 
} 
 
.btn-sample .badge { 
  color: #BDBDBD; 
  background-color: #FFFFFF; 
}